* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 480px;
    background-color: whitesmoke;
    font-family: sans-serif;

    padding: 20px;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* --- HEADER & TOGGLE --- */
header {
    display: flex;
    flex-wrap: wrap; /*permette switch di andare sotto il titolo su mobile */

    padding-bottom: 50px;
}

.toggle-switch { 
    display: flex;
    gap: 20px;
    margin: 0 auto; /* Centra i toggle su mobile */
    padding: 20px;
    }

.filter {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input { opacity: 0; width: 0; height: 0; }

/* The slider base*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;

  background-color: whitesmoke;
  border: grey solid 2px;

  transition: .4s;
  border-radius: 34px;
}

/* The slider OFF*/
.slider:before {
  position: absolute;
  content: "";
  height: 14px; width: 14px;

  /* Posizionamento per centrarlo nel bordo */
  left: -1px; bottom: -1px;

  background-color: white;
  border: grey solid 2px;

  transition: .4s;
  border-radius: 50%;
}

/* Slider base ON */
input:checked + .slider {
  background-color: #000000;
  border: #000000 solid 2px;
}

/* Slider ON */
input:checked + .slider:before {
  border: 2px solid white; 
  transform: translateX(11px);
}

input:focus + .slider { box-shadow: 0 0 1px #171717; }

/* --- CARDS E LAYOUT --- */
main {
    display: flex;
    flex-direction: column; /* Mobile first*/
    gap: 20px;  
}

main > section {
    min-height: 500px;

    flex: 1; /* Distribuisce lo spazio equamente */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px;
    padding-bottom: 20px;
    border-radius: 10px;

    background-color: white;
    box-shadow: 0px 5px 10px lightgray;
}

/* --- TIPOGRAFIA --- */
h1 { font-size: 46px; }
h2 { font-size: 52px; }
h3 { font-size: 28px; }
p { color: grey; font-size: 14px; }

.dollar { 
    color: black; 
    font-size: 20px; 
    font-weight: bold; 
}

.small-text {
    display: flex;
    justify-content: center;
    align-items: baseline;

    font-size: small;
    color: black;
    padding: 15px;
    gap: 5px;
}

.sale {
    display: flex;
    justify-content: center;
    align-items: center; 

    width: 4.5em; height: 2em;
    border-radius: 5px;

    background-color: rgb(220, 220, 220);
    font-size: small;
    color: black;
}

.prize {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
}

/* --- BOTTONE --- */
.botton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    border-radius: 10px;

    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(94, 7, 255);
}

/* --- LISTA E ICONE --- */
ul { list-style-type: none; padding: 10px 0px; }
li { padding: 10px 0px; }
i { font-size: x-large; padding-right: 10px; }

/* --- CARD VIOLA --- */
main > section.card-blue {
    background-color: rgb(94, 7, 255);
    color: white;
    order: -1; /* La sposta in alto su mobile anche se è 2° nell'HTML */
}

.card-blue .botton {
    background-color: white;
    color: rgb(94, 7, 255);
}

.card-blue p, .card-blue h3, .card-blue h2, .card-blue .dollar, 
.card-blue .small-text, .card-blue i {
    color: white;
}

/* --- MEDIA QUERIES --- */	

/* TABLET (768px)*/
@media screen and (min-width: 768px) {
  
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    /* Le prime due card occupano metà spazio, l'ultima il 100% */
    main > section { 
        flex: 0 0 calc(50% - 10px); 
    }

    main > section:last-of-type {
        flex: 0 0 100%; 
    }

    main > section:last-of-type .check-list ul {
    column-count: 2;
    column-gap: 30px;
}
}

/* DESKTOP (1024px) */
@media screen and (min-width: 1024px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; /* Toggle in alto a destra */
    }

    .toggle-switch {
        margin: 0; /* toglie il centraggio automatico */
        margin-top: 0;
        padding: 10px 0px;
    }

    main {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    main > section {
        flex: 1; /* Tutte larghe uguali */
    }

    main > section.card-blue {
        order: 0;
    }

    /* Reset per l'ultima card per farlo tornare uguale alle altre */
    main > section:last-of-type {
        flex: 1;
    }

    main > section:last-of-type .check-list ul {
        column-count: 1;
    }
    
}